<!DOCTYPE HTML>
<html>
	<head>
		<title>IzdepTap</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main -->
			<div id="main">
				<div class="inner">

					<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo"><strong>Izdep</strong>Tap</a>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
						</ul>
					</header>


					<section>
						<router-outlet></router-outlet>
					</section>

				</div>
			</div>
			<div id="sidebar">
				<div class="inner">


					<nav id="menu">
						<header class="major">
							<h2>Меню</h2>
						</header>
						<ul>
							<li><a href="/main"></a>Басты бет</li>
							<ng-container *ngIf="!isLoggedIn()">
								<li><a href="/register">Тіркелу</a></li>
								<li><a href="/login">Логин</a></li>
							</ng-container>
							<ng-container *ngIf="isLoggedIn()">

							<li><a *ngIf="isLoggedIn()" href="/createBlog">Жаңа пост қосу</a></li>
							<li><a *ngIf="isLoggedIn()" href="/createStartup">Стартап қосу</a></li>
							<li><a *ngIf="isLoggedIn()" href="/startups">Стартаптар</a></li>
							<li><a *ngIf="isLoggedIn()" href="/investors">Инвесторлар</a></li>
							<li><a *ngIf="isLoggedIn()" href="/profile">Профиль</a></li>
							<li><a *ngIf="isLoggedIn()" (click)="logout()">Шығу</a></li>
						</ng-container>

						</ul>
					</nav>

					<section>
						<header class="major">
							<h2>Контакт</h2>
						</header>
						<ul class="contact">
							<li class="icon solid fa-envelope"><a href="#">information@gmail.com</a></li>
							<li class="icon solid fa-phone">8-707-179-10-14</li>
							<li class="icon solid fa-home">Жандосова, 55</li>
						</ul>
					</section>

					<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

				</div>
			</div>

		</div>

		<!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
	</body>
</html>
