<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/main.css" />
<header class="major">
  <h2>Жаңа пост қосу</h2>
</header>

<div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="col col-lg-12">

      
      <form [formGroup]="blogForm" (ngSubmit)="submitBlog()" class="form-group" enctype="multipart/form-data">
        <div class="row mt-5">
          <div class="input-field col s6">
            <label>Тақырып:</label>
            <input type="text" formControlName="title" class="form-control" placeholder="Тақырыпты енгізіңіз..." id="title">
          </div>
        </div>
        <div class="row mt-5">
          <div class="input-field col s6">
            <label>Контент:</label>
            <textarea formControlName="content" class="form-control" placeholder="Контент енгізіңіз..." id="content"></textarea>
          
          </div>
        </div>
        <div class="row mt-5">
          <div class="input-field col s6">
            <label>Сурет:</label>
            <input type="file" class="form-control"  formControlName="image"  id="image" (change)="onFileSelected($event)"> 
          </div>
        </div>
        <div class="row mt-5">
          <div class="input-field col s12">
            <button class="btn btn-outline-dark right" type="submit">Жариялау</button>
          </div>
        </div>
      </form>
      
      
</div>
</div>
</div>
